<div class="container-fluid">
    <!-- Titulo principal -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col text-center">
        <h2 class="p-0 m-0">Proveedores</h2>
        <h2 class="p-0 m-0">Total de Proveedores: {{total}}</h2>
      </div>
    </div>
  
    <!-- Buscar y agregar admi -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col-xl-7 col-lg-5"></div>
      <div class="col-xl-3 col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar"
            aria-label="Buscar" aria-describedby="basic-addon1"
            (input)="search($event)">
          <button class="input-group-text" id="basic-addon1"> <i class="bi
              bi-search"></i> </button>
        </div>
      </div>
  
    </div>
    <!-- Contenedor de admi -->
    <div class="row justify-content-center align-items-center p-0">
      <div class="col-10 text-center">
        <!-- Titulo -->
        <div class="row p-2 bg-primary text-white">
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Nombres</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Cedula</h3>
          </div>
  
          <div class="col-4 align-self-center">
            <h3 class="p-0 m-0">Correo Electronico</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Telefono</h3>
          </div>
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Fecha Registro</h3>
          </div>
  
        </div>
  
        <!-- Profesion -->
        <div (click)=" pendiente_seleccionada=a" 
        *ngFor="let a of arr_filtered_proveedor"
          class="row p-2 bg-light fila_info_profesion" data-bs-toggle="modal"
          href="#modalInformacionProfesion" role="button">
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.nombres}}
              {{a.apellidos}}</h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.cedula}} </h4>
          </div>
  
          <div class="col-4 align-self-center">
            <h4 class="p-0 m-0">{{a.user_datos.user.email}}</h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.telefono}}</h4>
          </div>
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.fecha_creacion}}</h4>
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalInformacionProfesion" aria-hidden="true"
    aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalInformacionProfesionLabel">Información de Proveedores
            pendientes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body mb-0">
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Nombres:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.nombres}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Apellidos:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.nombres}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Cedula:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.cedula}}
            </div>
          </div>
  
  
          <!-- <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Documento cedula:</h3>
            </div>
            <div class="col-7">
  
            </div>
          </div> -->
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Ciudad:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.ciudad}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Direccion:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.direccion}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Telefono:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.telefono}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Genero:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.genero}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Fecha Registro:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.fecha_creacion}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Correo:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.user_datos.user.email}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Descripcion:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.descripcion}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Licencia:</h3>
            </div>
            <div class="col-7">
              {{pendiente_seleccionada?.licencia}}
            </div>
          </div>
          <!-- <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Documentacion Licenciada:</h3>
            </div>
            <div class="col-7">
  
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-warning"
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal">Cerrar</button>
          <button
            (click)="limpiarForm()"
            class="btn btn-info"
            data-target=".bd-example-modal-xl"
            data-bs-target="#modalInformacionEdicionProfesion"
            data-bs-toggle="modal">Editar
          </button>

          <button
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            class="btn btn-danger"
            (click)="establecerMensaje('Está seguro que desea Negar la
            información?', 'negar')">Negar</button>
  
        </div>
      </div>
    </div>
  </div>
  <!-- Modal edicion de informacion de admi -->
  <div class="modal fade" id="modalInformacionEdicionProfesion"
    aria-hidden="true" aria-labelledby="modalInformacionEdicionProfesionLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalInformacionEdicionProfesionLabel">Edición
            Pendientes</h1>
  
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body mb-0">
          <form [formGroup]="formEdit" class="">
            
          <div class="row p-2">
            <div class="row">
  
              <div class="col-8 align-self-center">
  
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Nombre:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="nombre"
                      class="form-control"
                      [ngClass]="isInvalidForm('nombre') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.nombres"
                      [value]="pendiente_seleccionada?.nombres">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'nombre')}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Apellidos:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="apellidos"
                      class="form-control"
                      [ngClass]="isInvalidForm('apellidos') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.apellidos"
                      [value]="pendiente_seleccionada?.apellidos">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'apellidos')}} </div>
                  </div>
                </div>
      
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="selectorServicioCrear" class="form-label"><h3
                        class="m-0 p-0 fw-bold">Genero:</h3></label>
                  </div>
                  <div class="col-7">
                    <select
                      class="form-select"
                      [ngClass]="isInvalidForm('genero') ?
                      'is-invalid' : ''"
                      formControlName="genero"
                    
                      [value]="pendiente_seleccionada?.genero"
                      aria-describedby="selectorServicioCrearFeedback">
                      <option selected disabled value="">Elija una genero...</option>
                      <option *ngFor="let c of generos" [id]="c" [value]="c"> {{c}}
                      </option>
                    </select>
                    <div id="selectorServicioCrearFeedback"
                      class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'genero')}} </div>
                  </div>
                </div>
      
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3
                        class="m-0p-0fw-bold">Cedula:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="cedula"
                      class="form-control"
                      [ngClass]="isInvalidForm('cedula') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.cedula"
                      [value]="pendiente_seleccionada?.cedula">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'cedula')}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Copia de Cedula:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="file"
                      accept="pdf"
                      formControlName="copiaCedula"
                      class="form-control"
                      [ngClass]="isInvalidForm('copiaCedula') ?
                      'is-invalid' : ''"
                      
                      [value]="pendiente_seleccionada?.copiaCedula">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'copiaCedula')}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Telefono:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="telefono"
                      class="form-control"
                      [ngClass]="isInvalidForm('telefono') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.telefono"
                      [value]="pendiente_seleccionada?.telefono">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'telefono')}} </div>
                  </div>
                </div>
      
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="selectorServicioCrear" class="form-label"><h3
                        class="m-0 p-0 fw-bold">Ciudad:</h3></label>
                  </div>
                  <div class="col-7">
                    <select
                      class="form-select"
                      [ngClass]="isInvalidForm('ciudad') ?
                      'is-invalid' : ''"
                      formControlName="ciudad"
                      id="ge"
                      [value]="pendiente_seleccionada?.ciudad"
                      aria-describedby="selectorServicioCrearFeedback">
                      <option selected disabled value="">Elija una genero...</option>
                      <option *ngFor="let c of ciudades" [id]="c" [value]="c"> {{c}}
                      </option>
                    </select>
                    <div id="selectorServicioCrearFeedback"
                      class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'ciudad')}} </div>
                  </div>
                </div>
              
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Direccion:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="direccion"
                      class="form-control"
                      [ngClass]="isInvalidForm('direccion') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.direccion"
                      [value]="pendiente_seleccionada?.direccion">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'direccion')}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Descripcion:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="descripcion"
                      class="form-control"
                      [ngClass]="isInvalidForm('descripcion') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.descripcion"
                      [value]="pendiente_seleccionada?.descripcion">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'descripcion)}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="selectorServicioCrear" class="form-label"><h3
                        class="m-0 p-0 fw-bold">Licencia:</h3></label>
                  </div>
                  <div class="col-7">
                    <select
                      class="form-select"
                      [ngClass]="isInvalidForm('licencia') ?
                      'is-invalid' : ''"
                      formControlName="licencia"
                 
                      [value]="pendiente_seleccionada?.licencia"
                      aria-describedby="selectorServicioCrearFeedback">
                      <option selected disabled value="">Elija una genero...</option>
                      <option *ngFor="let c of licencia" [id]="c" [value]="c"> {{c}}
                      </option>
                    </select>
                    <div id="selectorServicioCrearFeedback"
                      class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'licencia')}} </div>
                  </div>
                </div>
      
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Copia de Licencia:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="file"
                      accept="pdf"
                      formControlName="copiaLicencia"
                      class="form-control"
                      [ngClass]="isInvalidForm('copiaLicencia') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.copiaLicencia"
                      [value]="pendiente_seleccionada?.copiaCedula">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'copiaLicencia')}} </div>
                  </div>
                </div>
              </div>
  
              
              <div class="col-4 align-self-center">
                <h2> Cuenta Bancaria</h2>
  
                
                <div class="row  align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Tipo Cuenta:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="tipoCuenta"
                      class="form-control"
                      [ngClass]="isInvalidForm('tipoCuenta') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.tipo_cuenta"
                      [value]="pendiente_seleccionada?.tipo_cuenta">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'tipoCuenta)}} </div>
                  </div>
                </div>
  
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Numero Cuenta:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="numeroCuenta"
                      class="form-control"
                      [ngClass]="isInvalidForm('numeroCuenta') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.numero_cuenta"
                      [value]="pendiente_seleccionada?.numero_cuenta">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'numeroCuenta)}} </div>
                  </div>
                </div>
               
                <div class="row p-2 align-items-center">
                  <div class="col-5">
                    <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                        fw-bold">Banco:</h3></label>
                  </div>
                  <div class="col-7">
                    <input
                      type="text"
                      formControlName="banco"
                      class="form-control"
                      [ngClass]="isInvalidForm('banco') ?
                      'is-invalid' : ''"
                      [placeholder]="pendiente_seleccionada?.banco"
                      [value]="pendiente_seleccionada?.banco">
                    <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                      'banco)}} </div>
                  </div>
                </div>
  
                <h2> Profersion</h2>
                <div>
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Años de Experiencia:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="number"
                        formControlName="experiencia"
                        class="form-control"
                        [ngClass]="isInvalidForm('experiencia') ?
                        'is-invalid' : ''"
                        [placeholder]="pendiente_seleccionada?.ano_experiencia"
                        [value]="pendiente_seleccionada?.ano_experiencia">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'experiencia)}} </div>
                    </div>
                  </div>
  
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="selectorServicioCrear" class="form-label"><h3
                          class="m-0 p-0 fw-bold">Profesion:</h3></label>
                    </div>
                    <div class="col-7">
                      <select
                        class="form-select"
                        [ngClass]="isInvalidForm('ciudad') ?
                        'is-invalid' : ''"
                        formControlName="ciudad"
                        id="ge"
                        [value]="pendiente_seleccionada?.ciudad"
                        aria-describedby="selectorServicioCrearFeedback">
                        <option selected disabled value="">Elija una genero...</option>
                        <option *ngFor="let c of ciudades" [id]="c" [value]="c"> {{c}}
                        </option>
                      </select>
                      <div id="selectorServicioCrearFeedback"
                        class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'ciudad')}} </div>
                    </div>
                  </div>
    
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Documentacion:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="file"
                        accept="pdf"
                        formControlName="documentos"
                        class="form-control"
                        [ngClass]="isInvalidForm('copiaLicencia') ?
                        'is-invalid' : ''"
                        [placeholder]="pendiente_seleccionada?.copiaLicencia"
                        [value]="pendiente_seleccionada?.copiaCedula">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'documentos')}} </div>
                    </div>
                  </div>
    
                </div>
  
               
              
              
                <div *ngIf="mostrar2" >
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Profesion:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                      disable
                        type="text"
                        formControlName="profesion"
                        class="form-control"
                        [ngClass]="isInvalidForm('profesion') ?
                        'is-invalid' : ''"
                        [placeholder]="pendiente_seleccionada?.profesion"
                        [value]="pendiente_seleccionada?.profesion">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'profesion'} </div>
                    </div>
                  </div>
    
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Años de Experiencia:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                      disable
                      disable
                        type="file"
                        formControlName="experiencia"
                        class="form-control"
                        [ngClass]="isInvalidForm('experiencia') ?
                        'is-invalid' : ''"
                        [placeholder]="pendiente_seleccionada?.banco"
                        [value]="pendiente_seleccionada?.banco">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'experiencia')}} </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
       
            
          </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger"
            data-bs-target="#modalInformacionProfesion" data-bs-toggle="modal">Regresar</button>
          <button
  
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            class="btn btn-success"
            (click)="establecerMensaje('Está seguro que desea actualizar la
            información?', 'actualizar')">Actualizar</button>
        </div>
  
        <!-- <pre>
          {{actualizarProfesionesForm.value | json}}
        </pre> -->
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalConfirmacion" tabindex="-1"
    aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Titulo del modal confirmacion -->
        <div class="modal-header">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalConfirmacionLabel">Confirmar selección</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
  
        <!-- Cuerpo del modal confirmacion -->
        <div class="modal-body">
          {{mensajeAlerta}}
        </div>
  
        <!-- Footer del modal confirmacion -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          
          <button *ngIf="isNegar" type="button" class="btn btn-success"
            (click)="onNegar()" data-bs-dismiss="modal">Confirmar</button>
          <button *ngIf="isAceptar" type="button" class="btn btn-success"
            (click)="onAceptar()" data-bs-dismiss="modal">Confirmar</button>
          <button *ngIf="!isAceptar && !isNegar" type="button" class="btn btn-success"
            (click)="onCrear()" data-bs-dismiss="modal">Confirmar</button>
          <!-- <button *ngIf="isEliminar" type="button" class="btn btn-success" (click)="onDelete()" data-bs-dismiss="modal">Confirmar</button> -->
        </div>
      </div>
  
    </div>
  </div>