<div class="container-fluid">
    <!-- Titulo principal -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col text-center">
        <h2 class="p-0 m-0">Proveedores</h2>
        <h2 class="p-0 m-0">Total de Proveedores: {{total}}</h2>
      </div>
    </div>
  
    <!-- Buscar y agregar admi -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col-xl-7 col-lg-5"></div>
      <div class="col-xl-3 col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar"
            aria-label="Buscar" aria-describedby="basic-addon1"
            (input)="search($event)">
          <button class="input-group-text" id="basic-addon1"> <i class="bi
              bi-search"></i> </button>
        </div>
      </div>
  
    </div>
    <!-- Contenedor de admi -->
    <div class="row justify-content-center align-items-center p-0">
      <div class="col-10 text-center">
        <!-- Titulo -->
        <div class="row p-2 bg-primary text-white">
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Nombres</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Cedula</h3>
          </div>
  
          <div class="col-4 align-self-center">
            <h3 class="p-0 m-0">Correo Electronico</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Telefono</h3>
          </div>
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Fecha de actualización</h3>
          </div>
  
        </div>
  
        <!-- Profesion -->
        <div (click)=" 
          proveedor_seleccionado=a;
          copiaCedulaNombre = proveedor_seleccionado?.copiaCedula.substring(
            proveedor_seleccionado?.copiaCedula.lastIndexOf('/') + 1
          );
          copiaLicenciaNombre = proveedor_seleccionado?.copiaLicencia.substring(
            proveedor_seleccionado?.copiaLicencia.lastIndexOf('/') + 1
          );
          copiaDocumentosNombre = proveedor_seleccionado?.document[0].documento.substring(
            proveedor_seleccionado?.document[0].documento.lastIndexOf('/') + 1
          );
          funcionMostar();" 
          *ngFor="let a of arr_filtered_proveedor"
          class="row p-2 bg-light fila_info_profesion" data-bs-toggle="modal"
          href="#modalInformacionProfesion" role="button">
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.nombres}}
              {{a.apellidos}}</h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.cedula}} </h4>
          </div>
  
          <div class="col-4 align-self-center">
            <h4 class="p-0 m-0">{{a.user_datos.user.email}}</h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.telefono}}</h4>
          </div>
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.user_datos.fecha_creacion  | date : "d/M/Y" }}</h4>
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalInformacionProfesion" aria-hidden="true"
    aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalInformacionProfesionLabel">Información de Proveedores
            pendientes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body mb-0">
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Nombres:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.nombres}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Apellidos:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.apellidos}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Cedula:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.cedula}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Documento cedula:</h3>
            </div>
            <div class="col-7">
              <a
                href="https://tomesoft1.pythonanywhere.com{{
                  proveedor_seleccionado?.copiaCedula
                }}"
                download="newfilename.pdf"
              >
                <p>
                  {{ copiaCedulaNombre }}
                </p>
              </a>
            </div>
          </div>

          <!-- <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Documento cedula:</h3>
            </div>
            <div class="col-7">
  
            </div>
          </div> -->
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Ciudad:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.ciudad}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Direccion:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.direccion}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Telefono:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.telefono}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Genero:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.genero}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Fecha de actualización:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.fecha_creacion | date : "d/M/Y" }}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Correo:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.user_datos.user.email}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Descripcion:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.descripcion}}
            </div>
          </div>
  
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Licencia:</h3>
            </div>
            <div class="col-7">
              {{proveedor_seleccionado?.licencia}}
            </div>
          </div>
          
          <div class="row p-2 align-items-center">
            <div class="col-5">
              <h3 class="m-0 p-0 fw-bold">Documentación Licenciada:</h3>
            </div>
            <div class="col-7">
              <a
                href="https://tomesoft1.pythonanywhere.com{{
                  proveedor_seleccionado?.copiaLicencia
                }}"
                download="newfilename2.pdf"
              >
                <p>
                  {{ copiaLicenciaNombre }}
                </p>
              </a>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button
          class="btn btn-warning"
          (click)="
          isAceptar = true;
          isNegar = true;
          mensajeAlerta = 'Está seguro que no desea hacer cambios?'
          "
          data-bs-dismiss="modal"
          aria-label="Close"
          >
            Cerrar
          </button>
          <button
            (click)="limpiarForm()"
            class="btn btn-info"
            data-target=".bd-example-modal-xl"
            data-bs-target="#modalInformacionEdicionProfesion"
            data-bs-toggle="modal">Visualizar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal edicion de informacion de admi -->
  <div class="modal fade modal-xl" id="modalInformacionEdicionProfesion"
    aria-hidden="true" aria-labelledby="modalInformacionEdicionProfesionLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalInformacionEdicionProfesionLabel">
            Edición Proveedores
          </h1>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body mb-0">
          <form [formGroup]="formEdit" class="">
            <div class="row p-2">
              <div class="row">
                <div class="col-8 align-self-center">
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Nombre:</h3></label>
                    </div>
                    <div class="col-7">
                      <input type="text" formControlName="nombre" class="form-control"
                      [ngClass]="isInvalidForm('nombre') ? 'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos.nombres"
                        [value]="proveedor_seleccionado?.user_datos.nombres">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit, 'nombre')}} </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Apellidos:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="apellidos"
                        class="form-control"
                        [ngClass]="isInvalidForm('apellidos') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos.apellidos"
                        [value]="proveedor_seleccionado?.user_datos.apellidos">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'apellidos')}} </div>
                    </div>
                  </div>

                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label">
                        <h3 class="m-0p 0 fw-bold">Foto:</h3>
                      </label>
                    </div>
                    <div class="col-7">
                      <img
                        src="https://tomesoft1.pythonanywhere.com{{
                          proveedor_seleccionado?.user_datos?.foto
                        }}"
                        alt="no se encontró foto de perfil"
                        width="50"
                        height="60"
                      />
                      <input
                        type="file"
                        formControlName="foto"
                        accept="image/*"
                        class="form-control"
                        [ngClass]="isInvalidForm('foto') ? 'is-invalid' : ''"
                        (change)="loadImageFromDevice($event)"
                      />
                      <div class="invalid-feedback">
                        {{ getErrorMessage(formEdit, "copiaCedula") }}
                      </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputCorreo" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Correo:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="correo"
                        class="form-control"
                        [ngClass]="isInvalidForm('email') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos?.user?.email"
                        [value]="proveedor_seleccionado?.user_datos?.user?.email">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'nombre')}} </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="selectorServicioCrear" class="form-label"><h3
                          class="m-0 p-0 fw-bold">Genero:</h3></label>
                    </div>
                    <div class="col-7">
                      <select
                        class="form-select"
                        [ngClass]="isInvalidForm('genero') ? 'is-invalid' : ''"
                        formControlName="genero"
                        [value]="proveedor_seleccionado?.user_datos?.genero"
                        aria-describedby="selectorServicioCrearFeedback">
                        <option selected disabled value="">Elija un genero...</option>
                        <option *ngFor="let c of generos" [id]="c" [value]="c"> 
                          {{c}}
                        </option>
                      </select>
                      <div id="selectorServicioCrearFeedback"
                        class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'genero')}} </div>
                    </div>
                  </div>
        
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label">
                        <h3 class="m-0p-0 fw-bold">Cedula:</h3>
                      </label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="cedula"
                        class="form-control"
                        (keypress)="numberOnly($event)"
                        [ngClass]="isInvalidForm('cedula') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos?.cedula"
                        [value]="proveedor_seleccionado?.user_datos?.cedula">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'cedula')}} </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label">
                        <h3 class="m-0 p-0 fw-bold">Copia de Licencia:</h3>
                      </label>
                    </div>
                    <div class="col-7">
                      <a
                        href="https://tomesoft1.pythonanywhere.com{{
                          proveedor_seleccionado?.copiaLicencia
                        }}"
                        download="newfilename2.pdf"
                      >
                        <p>
                          {{ copiaLicenciaNombre }}
                        </p>
                      </a>
                      <input
                        type="file"
                        accept=".pdf"
                        formControlName="copiaLicencia"
                        class="form-control"
                        [ngClass]="
                          isInvalidForm('copiaLicencia') ? 'is-invalid' : ''
                        "
                        (change)="loadPdf2FromDevice($event)"
                      />
                      <div class="invalid-feedback">
                        {{ getErrorMessage(formEdit, "copiaLicencia") }}
                      </div>
                    </div>
                  </div>

                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label">
                        <h3 class="m-0 p-0 fw-bold">Copia de Cedula:</h3>
                      </label>
                    </div>
                    <div class="col-7">
                      <a
                        href="https://tomesoft1.pythonanywhere.com{{
                          proveedor_seleccionado?.copiaCedula
                        }}"
                        download="newfilename.pdf"
                      >
                        <p>
                          {{ copiaCedulaNombre }}
                        </p>
                      </a>
                      <input
                        type="file"
                        accept=".pdf"
                        formControlName="copiaCedula"
                        class="form-control"
                        [ngClass]="
                          isInvalidForm('copiaCedula') ? 'is-invalid' : ''
                        "
                        (change)="loadPdfFromDevice($event)"
                      />
                      <div class="invalid-feedback">
                        {{ getErrorMessage(formEdit, "copiaCedula") }}
                      </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Telefono:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="telefono"
                        class="form-control"
                        (keypress)="numberOnlyPluss($event)"
                        [ngClass]="isInvalidForm('telefono') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos.telefono"
                        [value]="proveedor_seleccionado?.user_datos.telefono">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'telefono')}} </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="selectorServicioCrear" class="form-label"><h3
                          class="m-0 p-0 fw-bold">Ciudad:</h3></label>
                    </div>
                    <div class="col-7">
                      <select
                        class="form-select"
                        [ngClass]="isInvalidForm('genero') ?'is-invalid' : ''"
                        formControlName="ciudad"
                        id="ge"
                        [value]="proveedor_seleccionado?.user_datos.ciudad"
                        aria-describedby="selectorServicioCrearFeedback">
                        <option selected disabled value="">Elija un genero...</option>
                        <option *ngFor="let c of ciudades" [id]="c" [value]="c"> {{c}}
                        </option>
                      </select>
                      <div id="selectorServicioCrearFeedback"
                        class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'ciudad')}} </div>
                    </div>
                  </div>
                
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Direccion:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="direccion"
                        class="form-control"
                        [ngClass]="isInvalidForm('direccion') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos.direccion"
                        [value]="proveedor_seleccionado?.direccion">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'direccion')}} </div>
                    </div>
                  </div>
        
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                          fw-bold">Descripcion:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="descripcion"
                        class="form-control"
                        [ngClass]="isInvalidForm('descripcion') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.user_datos.descripcion"
                        [value]="proveedor_seleccionado?.descripcion">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'descripcion')}} </div>
                    </div>
                  </div>

                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"
                        ><h3 class="m-0 p-0 fw-bold">Documentación:</h3></label
                      >
                    </div>
                    <div class="col-7">
                      <a
                        href="https://tomesoft1.pythonanywhere.com{{
                          proveedor_seleccionado?.document[0]?.documento
                        }}"
                        download="newfilename3.pdf">
                        <p>
                          {{ copiaDocumentosNombre }}
                        </p>
                      </a>
                      <input
                        type="file"
                        accept="pdf"
                        formControlName="documentos"
                        class="form-control"
                        [ngClass]="isInvalidForm('copiaLicencia') ? 'is-invalid' : ''"
                        (change)="loadPdf3FromDevice($event)"
                      />
                      <div class="invalid-feedback">
                        {{ getErrorMessage(formEdit, "documentos") }}
                      </div>
                    </div>
                  </div>
                </div>
  
                
                <div class="col-4 align-self-center">
                  <h2> Cuenta Bancaria</h2>
                  <div class="row  align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label">
                        <h3 class="m-0 p-0 fw-bold">
                          Tipo Cuenta:
                        </h3>
                      </label>
                    </div>
                    <div class="col-7">
                      <select
                      formControlName="tipo_cuenta"
                      class="form-select"
                      [ngClass]="isInvalidForm('tipo_cuenta') ? 'is-invalid' : ''"
                      [value]="proveedor_seleccionado?.tipo_cuenta"
                      aria-describedby="selectorServicioCrearFeedback"
                    >
                      <option selected disabled value="">
                        Elija un tipo de cuenta...
                      </option>
                      <option
                        *ngFor="let c of tipoCuentas"
                        [id]="c"
                        [value]="c"
                      >
                        {{ c }}
                      </option>
                    </select>
                    <div
                      id="selectorServicioCrearFeedback"
                      class="invalid-feedback"
                    >
                      {{ getErrorMessage(formEdit, "profesion") }}
                    </div>
                    </div>
                  </div>
  
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Numero Cuenta:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="numeroCuenta"
                        class="form-control"
                        (keypress)="numberOnly($event)"
                        [ngClass]="isInvalidForm('numeroCuenta') ? 'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.numero_cuenta"
                        [value]="proveedor_seleccionado?.numero_cuenta">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit, 'numeroCuenta)}} </div>
                    </div>
                  </div>
                
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"><h3 class="m-0 p-0 fw-bold">Banco:</h3></label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="banco"
                        class="form-control"
                        [ngClass]="isInvalidForm('banco') ?
                        'is-invalid' : ''"
                        [placeholder]="proveedor_seleccionado?.banco"
                        [value]="proveedor_seleccionado?.banco">
                      <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'banco)}} </div>
                    </div>
                  </div>
  
                  <h2>Profesión</h2>
                <div>
                  
                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="selectorServicioCrear" class="form-label"><h3
                          class="m-0 p-0 fw-bold">Licencia:</h3></label>
                    </div>
                    <div class="col-7">
                      <select
                        class="form-select"
                        [ngClass]="isInvalidForm('licencia') ?
                        'is-invalid' : ''"
                        formControlName="licencia"
                  
                        [value]="proveedor_seleccionado?.licencia"
                        aria-describedby="selectorServicioCrearFeedback">
                        <option selected disabled value="">¿Posee una licencia?...</option>
                        <option *ngFor="let c of licencia" [id]="c" [value]="c"> {{c}}
                        </option>
                      </select>
                      <div id="selectorServicioCrearFeedback"
                        class="invalid-feedback"> {{getErrorMessage(formEdit,
                        'licencia')}} </div>
                    </div>
                  </div>

                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="inputNombre" class="form-label"
                        ><h3 class="m-0 p-0 fw-bold">
                          Años de Experiencia:
                        </h3></label
                      >
                    </div>
                    <div class="col-7">
                      <input
                        type="number"
                        formControlName="ano_experiencia"
                        class="form-control"
                        [ngClass]="
                          isInvalidForm('ano_experiencia') ? 'is-invalid' : ''
                        "
                        [placeholder]="proveedor_seleccionado?.ano_profesion"
                        [value]="proveedor_seleccionado?.ano_profesion"
                      />
                      <div class="invalid-feedback">
                        {{ getErrorMessage(formEdit, "ano_experiencia") }}
                      </div>
                    </div>
                  </div>

                  <div class="row p-2 align-items-center">
                    <div class="col-5">
                      <label for="selectorServicioCrear" class="form-label"
                        ><h3 class="m-0 p-0 fw-bold">Profesion:</h3></label
                      >
                    </div>
                    <div class="col-7">
                      <p>
                        <span class="m-0 p-0 fw-bold">profesiones actuales:</span>  {{proveedor_seleccionado?.profesion}}
                      </p>
                      <ng-select
                        [items]="profesiones"
                        class="form-select"
                        [ngClass]="
                          isInvalidForm('profesion') ? 'is-invalid' : ''
                        "
                        formControlName="profesion"
                        id="ge"
                        
                        aria-describedby="selectorServicioCrearFeedback"
                        [multiple]="true">
                      </ng-select>
                      <div
                        id="selectorServicioCrearFeedback"
                        class="invalid-feedback"
                      >
                        {{ getErrorMessage(formEdit, "profesion") }}
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning"
            data-bs-target="#modalInformacionProfesion" 
            data-bs-toggle="modal"
            >
            Regresar
          </button>
          <button
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            class="btn btn-danger"
            (click)="establecerMensaje('Está seguro que desea Negar la
            información?', 'negar')"
            >
            Negar
          </button>
            <button
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            class="btn btn-success"
            (click)="establecerMensaje('Está seguro que desea actualizar la
            información?', 'actualizar')">Actualizar</button>
        </div>
  
        <!-- <pre>
          {{actualizarProfesionesForm.value | json}}
        </pre> -->
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalConfirmacion" tabindex="-1"
    aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Titulo del modal confirmacion -->
        <div class="modal-header">
          <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
            id="modalConfirmacionLabel">Confirmar selección</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
  
        <!-- Cuerpo del modal confirmacion -->
        <div class="modal-body">
          {{mensajeAlerta}}
        </div>
  
        <!-- Footer del modal confirmacion -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          
          <button *ngIf="isNegar" type="button" class="btn btn-success"
            (click)="onNegar()" data-bs-dismiss="modal">Confirmar</button>
          <!-- <button *ngIf="isAceptar" type="button" class="btn btn-success"
            (click)="onAceptar()" data-bs-dismiss="modal">Confirmar</button> -->
          <button *ngIf="!isAceptar && !isNegar" type="button" class="btn btn-success"
            (click)="onActualizar()" data-bs-dismiss="modal">Confirmar</button>
          <!-- <button *ngIf="isEliminar" type="button" class="btn btn-success" (click)="onDelete()" data-bs-dismiss="modal">Confirmar</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row p-2 justify-content-center align-items-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previous($event)">Previous</a>
          </li>
          <div *ngFor="let n of pageNumber; let i = index">
            <li class="page-item">
              <button 
                class="page-link azul"
                value="{{ n }}"
                (click)="iteracion($event)"
                *ngIf="n == currentPage"
              >
                {{ n }}
              </button>
              <button 
                class="page-link"
                value="{{ n }}"
                (click)="iteracion($event)"
                *ngIf="n != currentPage"
              >
                {{ n }}
              </button>
            </li>
          </div>
  
          <li class="page-item">
            <a class="page-link" (click)="next($event)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>