  <!-- Titulo principal-->
  <div class="header-admi1 ">
    <div class="header-text">
      <div class="containerstart">
        <p>Solicitudes Pendientes</p>
      </div>
      <div class="containerend">
        <p> Total de solicitudes Pendientes:{{total}}</p>
      </div>
    </div>
    <svg preserveAspectRatio="xMidYMid">
      <path d="M0,60 L0,0 L1290,0 L1290,60" fill="#333539"  />
      <path d="M320,60 Q448,85 550,60" fill="#333539" />
    </svg>
  </div>
  
   <!-- FILTROS-->
  <div class="container-fluid">
    <div class="d-flex flex-wrap header-solicitud align-items-center gap-3">   
      <div class="containerstart1" >
        <label class="calendar-label">Desde:</label>
        <div class="date-container" >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <input matInput [matDatepicker]="picker1" placeholder="SELECCIONA DIA" 
          >
        </div>
      </div>
      
      <div class="containerstart2" >
        <label class="calendar-label">Hasta:</label>
        <div class="date-container" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <input matInput [matDatepicker]="picker2" placeholder="SELECCIONA DIA"
          >
        </div>
      </div>
  
      <div class="containerstart3">
        <button class="search-button" id="basic-addon1">
          <i class="bi bi-search"></i>
        </button>
        <div class="date-container">
          <div class="input-group search-group">
            <input 
              type="text" 
              class="form-control search-input" 
              placeholder="BUSCAR"
              aria-label="Buscar" 
              aria-describedby="basic-addon1" 
              (input)="search($event)">
          </div> 
        </div>       
      </div>
    </div>

        <!-- Contenido -->
        <div class="row justify-content-center align-items-center p-0">
          <div class="col-10 text-center containeradmin">
            <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead>
                <!-- Encabezado -->
                <tr>
                  <th scope="col">Nombres</th>
                  <th scope="col">Profesion solicitada</th>
                  <th scope="col">Fecha Solicitud</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
            </table>
            <div class="table-body">
              <table class="table table-striped custom-table">
              <tbody>
                <tr
                (click)="soli_seleccionada=a"
                *ngFor="let a of arr_filtered_soli" 
                class="row p-2 bg-light fila_info_profesion" 
                data-bs-toggle="modal"
                href="#modalInformacionProfesion" 
                role="button"
                >
                  <td style="color: #40378b; text-transform: uppercase"> <strong>  {{a.proveedor.user_datos.nombres}}
                    {{a.proveedor.user_datos.nombres}}</strong></td>
                  <td style="color: #40378b; text-transform: uppercase"> 
                    <span class="estado-indicador" 
                > </span> <strong>{{a.profesion}} </strong> </td>
                  <td style="color: #40378b; text-transform: uppercase"> <strong>{{a.fecha_solicitud | date: ' MMM d, y, h:mm:ss a'}} </strong></td>
                  <td style="color: #40378b; text-transform: uppercase" class="d-flex align-items-center"> 
                    <strong> <!-- Denegado == true, En proceso == false -->
                        <span *ngIf="!a.estado" class="badge text-bg-warning">En proceso</span>
                        <span *ngIf="a.estado" class="badge text-bg-danger">Denegado</span>
                    </strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      
            <div class="container-fluid">
              <div class="row p-2 justify-content-end align-items-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <!-- Botón Anterior -->
                    <li class="page-item">
                      <a class="page-link" (click)="previous($event)">
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
            
                    <!-- Números de Página -->
                    <div *ngFor="let n of pageNumber; let i = index" class="d-inline-block">
                      <li class="page-item">
                        <button
                          class="page-link azul"
                          value="{{ n }}"
                          (click)="iteracion($event)"
                          [class.active]="n === currentPage"
                        >
                          {{ n }}
                        </button>
                      </li>
                    </div>
            
                    <!-- Botón Siguiente -->
                    <li class="page-item">
                      <a class="page-link" (click)="next($event)">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            
            
            
            
  </div>


<!-- Modal de Informacion de solicitud -->
<div class="modal fade" id="modalInformacionProfesion" aria-hidden="true" aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Titulo del modal -->
      <div class="modal-header align-items-center">
        <h1 class="modal-title fs-5 m-0 p-0 fw-bold" id="modalInformacionProfesionLabel">Información de Solicitud</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal -->
      <div class="modal-body mb-0">

        <!-- Seccion nombre -->
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
          </div>
          <div class="col-7">
            {{soli_seleccionada?.proveedor?.user_datos?.nombres}}  {{soli_seleccionada?.proveedor?.user_datos?.apellidos}}
          </div>
        </div>

        <!-- Seccion profesion solicitada -->
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Profesion Solicitada:</h3>
          </div>
          <div class="col-7">
            {{soli_seleccionada?.profesion}}
          </div>
        </div>

        <!-- Seccion experiencia -->
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Experiencia:</h3>
          </div>
          <div class="col-7">
            {{soli_seleccionada?.anio_experiencia}}
          </div>
        </div>

        <!-- Seccion fecha -->
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Fecha de la solicitud:</h3>
          </div>
          <div class="col-7">
            {{soli_seleccionada?.fecha_solicitud}}
          </div>
        </div>

        <!-- Seccion de botones -->
        <div *ngIf="!soli_seleccionada?.estado" class="modal-footer">
          <button
            class="btn btn-success"
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            (click)="establecerMensaje('Está seguro que desea aceptar la solicitud?', 'aceptar')"
          >Aceptar</button>
          <button
            class="btn btn-danger"
            data-bs-target="#modalConfirmacion"
            data-bs-toggle="modal"
            (click)="establecerMensaje('Está seguro que desea negar la solicitud de profesión?', 'negar')"
          >Negar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmacion -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Titulo del modal confirmacion -->
      <div class="modal-header">
        <h1 class="modal-title fs-5 m-0 p-0 fw-bold" id="modalConfirmacionLabel">Confirmar selección</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal confirmacion -->
      <div class="modal-body">
        {{mensajeAlerta}}
      </div>

      <!-- Footer del modal confirmacion -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="isNegar" type="button" class="btn btn-success" (click)="onNegar()" data-bs-dismiss="modal">Confirmar</button>
        <button *ngIf="isAceptar" type="button" class="btn btn-success"  (click)="onAceptar()" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Toast de Información -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div #liveToast id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
      <strong class="me-auto text-light">{{tituloToast}}</strong>
      <small class="text-light">Ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-opacity-25" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
      {{mensajeToast}}
    </div>
  </div>
</div>
