<div class="container-fluid">
    <!-- Titulo principal -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col text-center">

        <h2 class="p-0 m-0"> Tarjeta</h2>
        <div class="row">
            <div class="col">
                <h4 class="p-0 m-0">Total Tarjeta: $ {{totalTarjeta}}</h4>
            </div>
            <div class="col">
                <h4 class="p-0 m-0">Total: $ {{total}}</h4>
            </div>

            <div class="col">
                <h4 class="p-0 m-0">Total Cargo Banco: $ {{totalBanco}}</h4>
            </div>

            <div class="col">
                <h4 class="p-0 m-0">Total cargo Sistema: $ {{totalPayment}}</h4>
            </div>


        </div>

      </div>
    </div>

    <!-- Buscar y agregar admi -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Correo de proveedor"
            aria-label="Buscar" aria-describedby="basic-addon1"
            (input)="searchProveedor($event)">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Correo de solicitante"
            aria-label="Buscar" aria-describedby="basic-addon1"
            (input)="filterByUser($event)">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-2">
        <div class="input-group">
          <input type="date" class="form-control"
            aria-label="Buscar" aria-describedby="basic-addon1"
            (input)="filterByDate($event)">
        </div>
      </div>
    </div>
    

    <!-- Contenedor de admi -->
    <div class="row justify-content-center align-items-center p-0">
      <div class="col-10 text-center">
        <!-- Titulo -->
        <div class="row p-2 bg-primary text-white">
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Cliente</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Proveedor</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Servicio</h3>
          </div>
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Fecha</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Valor($)</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Proveedor Pagado</h3>
          </div>
        </div>

        <!-- Profesion -->
        <div (click)="tarjeta_seleccionada=a" *ngFor="let a of arr_filtered_tarjeta" class="row p-2 bg-light fila_info_profesion" data-bs-toggle="modal" href="#modalInformacionProfesion" role="button">

            <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.usuario}}</h4>
          </div>

          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.solicitud?.proveedor.user_datos.nombres}} {{a.solicitud?.proveedor.user_datos.apellidos}} </h4>
          </div>

          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">{{a.servicio}}</h4>
          </div>
          <div class="col-2  align-self-center">
            <h4 class="p-0 m-0">{{a.fecha_creacion | date: ' MMM d, y, h:mm:ss a'}}</h4>
          </div>

          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">${{a.valor| number:'1.2-2' }}</h4>
          </div>

          <div class="col-2 align-self-center">
            <span *ngIf="!a.pago_proveedor" class="badge text-bg-warning">Por Pagar</span>
            <span *ngIf="a.pago_proveedor" class="badge text-bg-success">Pagado</span>
          </div>


        </div>
      </div>
    </div>

    <!-- Seccion paginacion -->
  <div class="container-fluid">
    <div class="row p-2 justify-content-center align-items-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previous($event)">Previous</a>
          </li>
          <div *ngFor="let n of pageNumber; let i = index">
            <li class="page-item">
              <button
                class="page-link azul"
                value="{{ n }}"
                (click)="iteracion($event)"
                *ngIf="n == currentPage"
              >
                {{ n }}
              </button>
              <button
                class="page-link"
                value="{{ n }}"
                (click)="iteracion($event)"
                *ngIf="n != currentPage"
              >
                {{ n }}
              </button>
            </li>
          </div>

          <li class="page-item">
            <a class="page-link" (click)="next($event)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>

<div class="modal fade" id="modalInformacionProfesion" aria-hidden="true"
aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
        id="modalInformacionProfesionLabel">Información Tarjeta</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <div class="modal-body mb-0">

     <h4>Transaccion</h4>

     <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Cargo Paymentest:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.cargo_paymentez}}
        </div>
      </div>
      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Cargo Banco:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.cargo_banco}}
        </div>
      </div>
      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Cargo Sistema:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.cargo_sistema}}
        </div>
      </div>

     <h4>Cliente</h4>
      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.usuario}}
        </div>
      </div>

      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Correo:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.user?.email}}
        </div>
      </div>

      <h4>Proveedor</h4>
      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.solicitud?.proveedor.user_datos.nombres}} {{tarjeta_seleccionada?.solicitud?.proveedor.user_datos.apellidos}}
        </div>
      </div>

      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Telefono:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.solicitud.proveedor.user_datos.telefono}}
        </div>
      </div>

      <div class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Correo:</h3>
        </div>
        <div class="col-7">
          {{tarjeta_seleccionada?.solicitud.proveedor.user_datos.user.username}}
        </div>
      </div>
      <h4>valor pagado al Proveedor: {{tarjeta_seleccionada?.valor}}</h4>
      <div *ngIf="tarjeta_seleccionada?.pago_proveedor" class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Importante:</h3>
        </div>
        <div class="col-7">
          <span  class="badge text-bg-success">Este pago ya se le ha cancelado al proveedor.</span>

        </div>
      </div>

      <div *ngIf="!tarjeta_seleccionada?.pago_proveedor" class="row p-2 align-items-center">
        <div class="col-5">
          <h3 class="m-0 p-0 fw-bold">Pagar:</h3>
        </div>
        <div class="col-7 form-check form-switch d-flex justify-content-end fs-6">
            <input
            (change)="cambiarEstado($event)"
            [checked]="tarjeta_seleccionada?.pago_proveedor? true : false"
              class="form-check-input"
              id="switchEstado"
              type="checkbox"
              role="switch"
              checked
              aria-describedby="switchEstadoFeedback"
            >
          </div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- Toast de Información -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div #liveToast id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
      <img src="../../../assets/imagenes/notification_logo.png" class="rounded me-2" width="25px" alt="...">
      <strong class="me-auto text-light">{{tituloToast}}</strong>
      <small class="text-light">Ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-opacity-25" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
      {{mensajeToast}}
    </div>
  </div>
</div>
