 <!-- Titulo principal-->
 <div class="header-admi1">
  <div class="header-text">
    <div class="containerstart" >
      <p *ngIf="showHeader"> TARJETA</p>
    </div>
  </div>
  <svg preserveAspectRatio="xMidYMid">
    <path d="M0,60 L0,0 L1290,0 L1290,60" fill="#333539"  />
    <path d="M320,60 Q448,85 550,60" fill="#333539" />
  </svg>
</div>

 <!-- FILTROS-->
<div class="container-fluid" *ngIf="showHeader">
  <div class="d-flex flex-wrap header-solicitud align-items-center gap-3">   
    <div class="containerstart1" >
      <label class="calendar-label">Desde:</label>
      <div class="date-container" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input matInput [matDatepicker]="picker1" placeholder="SELECCIONA DIA"
        [(ngModel)]="fechaInicio" (dateChange)="filtrarPorFechas()">
      </div>
    </div>
    
    <div class="containerstart2" >
      <label class="calendar-label">Hasta:</label>
      <div class="date-container" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <input matInput [matDatepicker]="picker2" placeholder="SELECCIONA DIA"
        [(ngModel)]="fechaFin" (dateChange)="filtrarPorFechas()">
      </div>
    </div>

    <div class="containerstart3">
      <button class="search-button" id="basic-addon1">
        <i class="bi bi-search"></i>
      </button>
      <div class="date-container">
        <div class="input-group search-group">
          <input 
            type="text" 
            class="form-control search-input" 
            placeholder="BUSCAR"
            aria-label="Buscar" 
            aria-describedby="basic-addon1" 
            (input)="filterByUser($event)">
        </div> 
      </div>       
    </div>
  </div>
  <div class="d-flex flex-wrap header-solicitud align-items-center gap-3">   
    <div class="containerstart3">
      <button class="search-button" id="basic-addon1">
        <i class="bi bi-search"></i>
      </button>
      <div class="date-container">
        <div class="input-group search-group">
          <input 
            type="text" 
            class="form-control search-input" 
            placeholder="Correo del solicitante"
            aria-label="Correo del solicitante" 
            aria-describedby="basic-addon1" 
            (input)="searchProveedor($event)">
        </div> 
      </div>       
    </div>
    
    <div class="containerstart3">
      <button class="search-button" id="basic-addon1">
        <i class="bi bi-search"></i>
      </button>
      <div class="date-container">
        <div class="input-group search-group">
          <input 
            type="text" 
            class="form-control search-input" 
            placeholder="Correo del proveedor"
            aria-label="Correo del proveedor" 
            aria-describedby="basic-addon1" 
            (input)="filterByUser($event)">
        </div> 
      </div>       
    </div>
    
    <div class="containerstart4">
      <button class="admin-button"
      type="button"
          data-bs-toggle="modal"
          (click)="exportCSV()"
      >
        <span class="material-icons">add_circle</span>
        EXPORTAR CSV
      </button>
    </div>

  </div>

  <div class="d-flex flex-wrap totales align-items-center gap-4">  
    <div class="col">
      <h3 class="p-0 m-0" style="color: rgb(51, 53, 57);">TOTAL TARJETA: $ {{totalTarjeta}}</h3>
    </div>
    <div class="col">
      <h3 class="p-0 m-0"  style="color: rgb(51, 53, 57);">TOTAL: $ {{total}}</h3>
    </div>
    <div class="col">
      <h3 class="p-0 m-0"  style="color: rgb(51, 53, 57);">Total Cargo Banco: $ {{totalBanco}}</h3>
    </div>
    <div class="col">
      <h3 class="p-0 m-0"  style="color: rgb(51, 53, 57);">Total cargo Sistema: $ {{totalPayment}}</h3>
    </div>
  </div>


  <!-- Contenedor de admi -->
  <div class="row justify-content-center align-items-center p-0">
    <div class="col-10 text-center containeradmin">
      <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <!-- Encabezado -->
          <tr>
            <th scope="col">CLIENTE</th>
            <th scope="col">PROVEEDOR</th>
            <th scope="col">SERVICIO</th>
            <th scope="col">FECHA</th>
            <th scope="col">HORA</th>
            <th scope="col">ESTADO</th>
            <th scope="col">MÉTODO DE PAGO</th>
            <th scope="col">IMPUESTO</th>
            <th scope="col">VALOR</th>
          </tr>
        </thead>
      </table>
      <div class="table-body">
        <table class="table table-striped custom-table">
        <tbody>
          <tr
            (click)="tarjeta_sele(a)" *ngFor="let a of arr_filtered_tarjeta" data-bs-toggle="modal"
            href="#modalInformacionProfesion" role="button"
          >
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ a.usuario}} </strong></td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{a.solicitud?.proveedor.user_datos.nombres}} {{a.solicitud?.proveedor.user_datos.apellidos}} </strong> </td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ a.solicitud?.servicio.nombre}}  </strong></td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ a.fecha_creacion | date : "d/M/Y" }}</strong></td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ a.fecha_creacion | date: 'HH:mm' }}  </strong></td>
            <td class="align-items-center">
              <span
                *ngIf="a.estado"
                class="estado-indicador bg-success"
              ></span>
              <span *ngIf="a.estado" class="text-success">Pagado</span>
      
              <span
                *ngIf="!a.estado"
                class="estado-indicador" style="color: gray; backbackground-color:  gray;"
              ></span>
              <span *ngIf="!a.estado" class="text-muted">Pendiente</span>
            </td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ a.concepto }}  </strong></td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> {{ ((a.valor - (a.valor * a.solicitud.descuento)) * 0.12)| number:'1.2-2'}}  </strong></td>
            <td style="color: #40378b; text-transform: uppercase"> <strong> ${{a.valor| number:'1.2-2' }} </strong> </td>
          </tr>
        </tbody>
      </table>
    </div>

        <!-- Seccion paginacion -->
        <div class="container-fluid">
          <div class="row p-2 justify-content-end align-items-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <!-- Botón Anterior -->
                <li class="page-item">
                  <a class="page-link" (click)="previous($event)">
                    <i class="bi bi-chevron-left"></i>
                  </a>
                </li>
        
                <!-- Números de Página -->
                <div *ngFor="let n of pageNumber; let i = index" class="d-inline-block">
                  <li class="page-item">
                    <button
                      class="page-link azul"
                      value="{{ n }}"
                      (click)="iteracion($event)"
                      [class.active]="n === currentPage"
                    >
                      {{ n }}
                    </button>
                  </li>
                </div>
        
                <!-- Botón Siguiente -->
                <li class="page-item">
                  <a class="page-link" (click)="next($event)">
                    <i class="bi bi-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
  </div>
             
      </div>
    </div>
  </div>


<div class="modal fade" id="modalInformacionProfesion" aria-hidden="true"
aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
<div class="modal-content">
  <div class="modal-header align-items-center">
    <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
      id="modalInformacionProfesionLabel">Información Tarjeta</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal"
      aria-label="Close"></button>
  </div>
  <div class="modal-body mb-0">

   <h4>Transaccion</h4>

   <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Cargo Paymentest:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.cargo_paymentez}}
      </div>
    </div>
    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Cargo Banco:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.cargo_banco}}
      </div>
    </div>
    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Cargo Sistema:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.cargo_sistema}}
      </div>
    </div>

   <h4>Cliente</h4>
    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.usuario}}
      </div>
    </div>

    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Correo:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.user?.email}}
      </div>
    </div>

    <h4>Proveedor</h4>
    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.solicitud?.proveedor.user_datos.nombres}} {{tarjeta_seleccionada?.solicitud?.proveedor.user_datos.apellidos}}
      </div>
    </div>

    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Telefono:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.solicitud.proveedor.user_datos.telefono}}
      </div>
    </div>

    <div class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Correo:</h3>
      </div>
      <div class="col-7">
        {{tarjeta_seleccionada?.solicitud.proveedor.user_datos.user.username}}
      </div>
    </div>
    <h4>valor pagado al Proveedor: {{tarjeta_seleccionada?.valor}}</h4>
    <div *ngIf="tarjeta_seleccionada?.pago_proveedor" class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Importante:</h3>
      </div>
      <div class="col-7">
        <span  class="badge text-bg-success">Este pago ya se le ha cancelado al proveedor.</span>

      </div>
    </div>

    <div *ngIf="!tarjeta_seleccionada?.pago_proveedor" class="row p-2 align-items-center">
      <div class="col-5">
        <h3 class="m-0 p-0 fw-bold">Pagar:</h3>
      </div>
      <div class="col-7 form-check form-switch d-flex justify-content-end fs-6">
          <input
          (change)="cambiarEstado($event)"
          [checked]="tarjeta_seleccionada?.pago_proveedor? true : false"
            class="form-check-input"
            id="switchEstado"
            type="checkbox"
            role="switch"
            checked
            aria-describedby="switchEstadoFeedback"
          >
        </div>
    </div>
  </div>

</div>
</div>
</div>

<!-- Toast de Información -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
<div #liveToast id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
    <strong class="me-auto text-light">{{tituloToast}}</strong>
    <small class="text-light">Ahora</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body bg-opacity-25" [ngClass]="isErrorToast? ' bg-danger' : ' bg-success'">
    {{mensajeToast}}
  </div>
</div>
</div>
