<div class="container-fluid">
    <!-- Titulo principal -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col text-center">
        <h2 class="p-0 m-0">Planes disponibles</h2>
      </div>
    </div>
  
    <!-- Buscar y agregar profesion -->
    <div class="row p-2 justify-content-center align-items-center">
      <div class="col-xl-7 col-lg-5"></div>
      <div class="col-xl-3 col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1" (input)="search($event)">
          <button class="input-group-text" id="basic-addon1"> <i class="bi bi-search"></i> </button>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          href="#modalCrearProfesion"
          
        >Agregar profesión</button>
      </div>
    </div>
  
    <!-- Contenedor de profesiones -->
    <div class="row justify-content-center align-items-center p-0">
      <div class="col-10 text-center">
        <!-- Titulo -->
        <div class="row p-2 bg-primary text-white">
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Imagen</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Nombre</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Descripcion</h3>
          </div>
  
          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Valor</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Fecha Creacion</h3>
          </div>

          <div class="col-2 align-self-center">
            <h3 class="p-0 m-0">Estado</h3>
          </div>


        </div>
  
        <!-- Profesion -->
        <div (click)="ver(a)" *ngFor="let a of arr_filtered_planes" class="row p-2 bg-light fila_info_profesion" data-bs-toggle="modal" href="#modalInformacionProfesion" role="button">
          <div class="col-2 align-self-center">
            <img [src]="a.imagen? 'https://tomesoft1.pythonanywhere.com'+a.imagen : '../../../assets/imagenes/ProfesionDefault.png'" class="rounded mx-auto d-block img-fluid img_profesion" alt="...">
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0"> {{a.nombre}} </h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">{{a.descripcion}}</h4>
          </div>
  
          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">{{a.precio}}</h4>
          </div>

          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">{{a.fecha_creacion}}</h4>
          </div>

          <div class="col-2 align-self-center">
            <h4 class="p-0 m-0">{{a.estado}}</h4>
          </div>
          

        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modalInformacionProfesion" aria-hidden="true"
  aria-labelledby="modalInformacionProfesionLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
          id="modalInformacionProfesionLabel">Información de Insignias</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body mb-0">
        <div class="row p-2">
          <img [src]="planes_seleccionada?.imagen?
            'https://tomesoft1.pythonanywhere.com'+planes_seleccionada?.imagen
            : 'assets/imagenes/ProfesionDefault.png'" class="rounded mx-auto
            d-block img-fluid w-50 image_modal" alt="...">
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Nombre:</h3>
          </div>
          <div class="col-7">
            {{planes_seleccionada?.nombre}}
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Descripción:</h3>
          </div>
          <div class="col-7">
            {{planes_seleccionada?.descripcion}}
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Valor:</h3>
          </div>
          <div class="col-7">
            {{planes_seleccionada?.precio}}
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Duracion</h3>
          </div>
          <div class="col-7">
            {{planes_seleccionada?.duracion}}
          </div>
        </div>


        <div class="row p-2 align-items-center">
          <div class="col-5">
            <h3 class="m-0 p-0 fw-bold">Estado</h3>
          </div>
          <div class="col-7">
            {{estadoCond}}
          </div>
        </div>
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="switchEstado" class="form-check-label"><h3 class="m-0
                p-0 fw-bold">Habilitar/Deshabilitar:</h3></label>
          </div>
          <div class="col-7 form-check form-switch d-flex justify-content-end
            fs-6">
            <input
              (change)="cambiarEstado($event)"
              [checked]="planes_seleccionada?.estado? true : false"
              class="form-check-input"
              id="switchEstado"
              type="checkbox"
              role="switch"
              checked
              aria-describedby="switchEstadoFeedback">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button
          class="btn btn-success"
          data-bs-target="#modalInformacionEdicionProfesion"
          data-bs-toggle="modal"
          (click)="limpiarForm('actualizar')">Editar</button>
        <button
          class="btn btn-danger"
          data-bs-target="#modalConfirmacion"
          data-bs-toggle="modal"
          (click)="establecerMensaje('Está seguro que desea eliminar lainsignia?', 'eliminar')">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalInformacionEdicionProfesion" aria-hidden="true"
  aria-labelledby="modalInformacionEdicionProfesionLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
          id="modalInformacionEdicionProfesionLabel">Edición de Insignias</h1>
        <!-- (click)="limpiarForm('actualizar')" -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body mb-0">
        <form [formGroup]="formEdit" class="">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <img *ngIf="existImageActualizar" class="image_modal rounded
                mx-auto d-block img-fluid w-50" [src]="imagenActualizar"
                alt="Archivo incorrecto">
              <img *ngIf="!existImageActualizar &&
                planes_seleccionada?.imagen" class="image_modal rounded
                mx-auto d-block img-fluid w-50"
                [src]="'https://tomesoft1.pythonanywhere.com'+planes_seleccionada?.imagen"
                alt="Archivo incorrecto">
              <i *ngIf="!existImageActualizar && !planes_seleccionada?.imagen"
                class="rounded mx-auto d-block img-fluid w-50 bi bi-upload
                icono"></i>
            </div>
            <div class="p-2">
              <input
                class="w-100 centrar form-control"
                [ngClass]="formEdit.get('imagen')?.hasError('image_error')
                ? 'is-invalid' : '' || (existImageActualizar)? 'is-valid' : ''"
                type="file"
                id="file_input"
                accept="image/png, image/jpeg"
                (change)="loadImageFromDevice($event, 'actualizar')">
              <div class="invalid-feedback">{{getErrorMessage(formEdit,
                'imagen')}}</div>
            </div>
          </div>

          <div class="row p-2 align-items-center">
            <div class="col-5">
              <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                  fw-bold">Nombre:</h3></label>
            </div>
            <div class="col-7">
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                [ngClass]="isInvalidForm('nombre', 'actualizar') ? 'is-invalid'
                : ''"
                id="inputNombre"
                [placeholder]="planes_seleccionada?.nombre"
                [value]="planes_seleccionada?.nombre">
              <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                'nombre')}} </div>
            </div>
          </div>

          <div class="row p-2 align-items-center">
            <div class="col-5">
              <label for="textareaDescripcion" class="form-label"><h3 class="m-0
                  p-0 fw-bold">descripcion:</h3></label>
            </div>
            <div class="col-7">
              <input
              type="text"
                class="form-control"
                formControlName="descripcion"
                [ngClass]="isInvalidForm('descripcion', 'actualizar') ?
                'is-invalid' : ''"
                id="textareaDescripcion"
                [placeholder]="planes_seleccionada?.duracion"
                [value]="planes_seleccionada?.descripcion">
              <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                'duracion')}} </div>
            </div>
          </div>

          <div class="row p-2 align-items-center">
            <div class="col-5">
              <label for="textareaDescripcion" class="form-label"><h3 class="m-0
                  p-0 fw-bold">Duracion:</h3></label>
            </div>
            <div class="col-7">
              <input
              type="number"
                class="form-control"
                formControlName="duracion"
                [ngClass]="isInvalidForm('duracion', 'actualizar') ?
                'is-invalid' : ''"
                id="textareaDescripcion"
                [placeholder]="planes_seleccionada?.duracion"
                [value]="planes_seleccionada?.descripcion">
              <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                'duracion')}} </div>
            </div>
          </div>

          <div class="row p-2 align-items-center">
            <div class="col-5">
              <label for="textareaDescripcion" class="form-label"><h3 class="m-0
                  p-0 fw-bold">Valor:</h3></label>
            </div>
            <div class="col-7">
              <input
              type="number"
                class="form-control"
                formControlName="precio"
                [ngClass]="isInvalidForm('precio', 'actualizar') ?
                'is-invalid' : ''"
                id="textareaDescripcion"
                [placeholder]="planes_seleccionada?.duracion"
                [value]="planes_seleccionada?.descripcion">
              <div class="invalid-feedback"> {{getErrorMessage(formEdit,
                'precio')}} </div>
            </div>
          </div>
       
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger"
          data-bs-target="#modalInformacionProfesion" data-bs-toggle="modal">Regresar</button>
        <button
       
          data-bs-target="#modalConfirmacion"
          data-bs-toggle="modal"
          class="btn btn-success"
          (click)="establecerMensaje('Está seguro que desea actualizar laminformación?', 'actualizar')">Actualizar</button>
      </div>

      <!-- <pre>
        {{actualizarProfesionesForm.value | json}}
      </pre> -->
    </div>
  </div>
</div>
<div class="modal fade" id="modalCrearProfesion" aria-hidden="true"
aria-labelledby="modalCrearProfesionLabel" tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header align-items-center">
      <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
        id="modalCrearProfesionLabel">Crear Planes</h1>
      <!-- (click)="limpiarForm('crear')" -->
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <div class="modal-body mb-0">
      <form [formGroup]="planCrear" class="">
        <!-- Seccion de imagen -->
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img *ngIf="existImageCrear" class="rounded mx-auto d-block
              img-fluid w-50 image_modal" [src]="imagenCrear" alt="Archivo
              incorrecto">
            <i *ngIf="!existImageCrear" class="rounded mx-auto d-block
              img-fluid w-50 bi bi-upload icono"></i>
          </div>
          <div class="p-2">
            <input
              class="w-100 centrar form-control"
              [ngClass]="planCrear.get('imagen')?.hasError('image_error') ?
              'is-invalid' : '' || (existImageCrear)? 'is-valid' : ''"
              type="file"

              accept="image/png, image/jpeg"
              (change)="loadImageFromDevice($event, 'crear')">
            <div class="invalid-feedback">{{getErrorMessage(planCrear,
              'imagen')}}</div>
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                fw-bold">Nombre:</h3></label>
          </div>
          <div class="col-7">
            <input
              type="text"
              formControlName="nombre"
              class="form-control"
              [ngClass]="isInvalidForm('nombre', 'crear') ? 'is-invalid' :
              planCrear.get('nombre')?.touched ||
              planCrear.get('nombre')?.dirty &&
              !planCrear.get('nombre')?.invalid ? 'is-valid' : ''"
              id="inputNombre"
              placeholder="Juan luis">
            <div class="invalid-feedback"> {{getErrorMessage(planCrear,
              'nombre')}} </div>
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                fw-bold">Descripcion:</h3></label>
          </div>
          <div class="col-7">
            <input
              type="text"
              formControlName="descripcion"
              class="form-control"
              [ngClass]="isInvalidForm('descripcion', 'crear') ? 'is-invalid'
              : planCrear.get('descripcion')?.touched ||
              planCrear.get('descripcion')?.dirty &&
              !planCrear.get('descripcion')?.invalid ? 'is-valid' : ''"
         
              placeholder="Perez Villamar">
            <div class="invalid-feedback"> {{getErrorMessage(planCrear,
              'descripcion')}} </div>
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                fw-bold">Precio:</h3></label>
          </div>
          <div class="col-7">
            <input
              type="number"
              formControlName="precio"
              class="form-control"
              [ngClass]="isInvalidForm('precio', 'crear') ? 'is-invalid'
              : planCrear.get('precio')?.touched ||
              planCrear.get('precio')?.dirty &&
              !planCrear.get('precio')?.invalid ? 'is-valid' : ''"
              id="inputApellido"
              placeholder="Perez Villamar">
            <div class="invalid-feedback"> {{getErrorMessage(planCrear,
              'precio')}} </div>
          </div>
        </div>

        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="inputNombre" class="form-label"><h3 class="m-0 p-0
                fw-bold">Duracion:</h3></label>
          </div>
          <div class="col-7">
            <input
              type="number"
              formControlName="duracion"
              class="form-control"
              [ngClass]="isInvalidForm('duracion', 'crear') ? 'is-invalid'
              : planCrear.get('duracion')?.touched ||
              planCrear.get('duracion')?.dirty &&
              !planCrear.get('duracion')?.invalid ? 'is-valid' : ''"
              id="inputApellido"
              placeholder="Perez Villamar">
            <div class="invalid-feedback"> {{getErrorMessage(planCrear,
              'duracion')}} </div>
          </div>
        </div>

     
        <div class="row p-2 align-items-center">
          <div class="col-5">
            <label for="selectorServicioCrear" class="form-label"><h3
                class="m-0 p-0 fw-bold">Estado:</h3></label>
          </div>
          <div class="col-7">
            <select
              class="form-select"
              [ngClass]="isInvalidForm('estado', 'crear') ? 'is-invalid' : ''"
              formControlName="estado"
              id="ro"

              aria-describedby="selectorServicioCrearFeedback">
              <option selected disabled value="">Elija una rol...</option>
              <option *ngFor="let c of estados" [id]="c" [value]="c"> {{c}}
              </option>
            </select>
            <div id="selectorServicioCrearFeedback"
              class="invalid-feedback"> {{getErrorMessage(planCrear,
              'estado')}} </div>
          </div>
        </div>

      
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="planCrear.invalid? true : false"
        data-bs-target="#modalConfirmacion"
        data-bs-toggle="modal"
        class="btn btn-success"
        (click)="establecerMensaje('Está seguro que desea crear la profesión?', 'crear')">Crear</button>
    </div>

    <!-- <pre>
      {{crearProfesionesForm.value | json}}
    </pre> -->
  </div>
</div>
</div>
<!-- Modal de confirmacion (Alerta) -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1"
  aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Titulo del modal confirmacion -->
      <div class="modal-header">
        <h1 class="modal-title fs-5 m-0 p-0 fw-bold"
          id="modalConfirmacionLabel">Confirmar selección</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <!-- Cuerpo del modal confirmacion -->
      <div class="modal-body">
        {{mensajeAlerta}}
      </div>

      <!-- Footer del modal confirmacion -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button *ngIf="isCrear" type="button" class="btn btn-success"
          (click)="onCrear()" data-bs-dismiss="modal">Confirmar</button>
        <button *ngIf="isActualizar" type="button" class="btn btn-success"
          (click)="onActualizar()" data-bs-dismiss="modal">Confirmar</button>
        <button *ngIf="isEliminar" type="button" class="btn btn-success"
          (click)="onDelete()" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>

  </div>
</div>
