<!-- <app-main></app-main> -->
<!-- <app-navbar></app-navbar> -->

<h1 class="titulo" style="margin-Left: 2rem">Administradores {{identificador}}</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" (click)="mostrar($event)">Agregar Administradores</button>
</div>


<div>
    <div style="display: flex; flex-direction: column; margin-right:1rem">
        <h3 style="margin-Left:1.9rem"><strong>Total Administradores: </strong>42</h3>
        <div style="display:flex; flex-direction:row; justify-content:end">
            <Button type="primary" size="default">
                Filtrar
            </Button>

        </div>


    </div>
    <div *ngIf="show"class="form-group">
        <form [formGroup]="contactForm">
            <div>
                <label for="name">Nombre</label>
                <br>
                <input type="text" name="name" id="name" formControlName="name" style="margin-bottom: 25px">
            </div>
         <div>
            <br>
            <label for="text">Apellido</label>
            <br>
            <input type="text" name="apellido" id="apellido" formControlName="apellido" style="margin-bottom: 25px;">
            <br>
         </div>
         <div>
            <br>
            <label for="number">Cedula</label>
            <br>
            <input type="number" name="cedula" id="cedula" formControlName="cedula" style="margin-bottom: 25px;">
            <br>
         </div>
         <div>
            <br>
            <label for="number">Telefono</label>
            <br>
            <input type="number" name="telefono" id="telefono" formControlName="telefono" style="margin-bottom: 25px;">
            <br>
         </div>
         <div>
            <br>
            <label for="ciud">Ciudad</label>
            <br>
           <select name="" id=""></select>
         </div>
 
         <div>
            <br>
            <label for="email">Correo</label>
            <br>
            <input type="email" name="email" id="email" formControlName="email" style="margin-bottom: 25px;">
            <br>
         </div>
         <div>
            <br>
            <label for="email">Genero</label>
            <br>
           <select name="" id=""></select>
         </div>
         <div>
            <br>
            <label for="email">Rol</label>
            <br>
           <select name="" id=""></select>

         </div>
         <div>
            <br>
            <label for="password">Contrase;a</label>
            <br>
            <input type="password" name="password" id="password" formControlName="password" style="margin-bottom: 25px;">
            <br>
         </div>
         <div>
            <br>
            <label for="password">Confirmar Contrasena</label>
            <br>
            <input type="password" name="passwordC" id="passwordC" formControlName="passwordC" style="margin-bottom: 25px;">
            <br>
         </div>
            <button type="submit" [disabled]="this.contactForm.invalid" (click)="enviar()">Send</button>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Telefono</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <!-- | paginate: {itemsPerPage: 10, currentPage: page} -->
            <tr *ngFor="let a of administradores ">

                <td>{{a.user_datos.nombres}} {{a.user_datos.apellidos}} </td>
                <td>{{a.user_datos.telefono}}</td>
                <td>{{a.user_datos.fecha_creacion}}</td>
                <td>{{a.estado}}</td>
            </tr>

        </tbody>
    </table>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="previous($event)" >Previous</a></li>
        <div *ngFor="let n of pageNumber; let i=index;">
            <li class="page-item"><button class="page-link" value="{{n}}" (click)="iteracion($event)">{{n}}</button></li>
        </div>

      <li class="page-item"><a class="page-link"  (click)="next($event)">Next</a></li>
    </ul>
  </nav>
