<body>
<div class="d-flex justify-content-center p-2">
    <div class="p-0 my-5 justify-content-center align-items-center">
        <div id="logo-img-container" class="form-row col-md-12">
            <div class="col-md-8 form-group">
                <img id="logo" src='assets/imagenes/logo-inicio.png'>
            </div>
        </div>
        <div id="logo-img-container" class="form-row col-md-12">
            <form [formGroup]="loginForm" class="w-100 d-flex flex-column pt-3 rounded-2 justify-content-center">
                
                
                <div class="form-group contTexto my-2">
                    <input id="id_correo" type="text" class="form-control" placeholder="Usuario" formControlName="email">
                </div>
                
                <br>


            
                <div class="form-group contTexto my-2">
                    <input id="id_password" type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                </div>
                

                <!-- <div class="form-row col-md-12">
                    <div class="col-md-8 form-group labelDiv">
                        <a href="" id="labelContrasena">¿Olvidaste tu contraseña?</a>
                    </div>
                </div> -->
            </form>
        </div>
        <div class="form-row my-2">
            <button (click)="onSubmit()" class="btn btn-primary">
                INICIAR SESIÓN
            </button>
        </div>
    </div>
</div>
</body>