<div class="row">
  <div class="bienvenido"></div>

  <div class="bienvenido-container">
    <div class="b-container">
      <div class="image-container">
        <img src="assets/imagenes/02.png" class="card-img-top img mb-3 rounded-circle custom-border" alt="...">
      </div>
      <h2 class="name">{{ getUsername(user?.email).nombre }} {{ getUsername(user?.email).apellido }}</h2>
      <p>
        Para comenzar a utilizar la plataforma, <br>seleccione alguna opción del menú que se encuentra al lado izquierdo.
      </p>
    </div>
    <div class="bienvenido-footer-container">
      <h1>{{ correoUsuario }}</h1>
    </div>
  </div>
</div>
