<div class="container-fluid">
    <!-- Titulo principal -->
    <div class="row p-2 justify-content-center align-items-center">
        <div class="col text-center">
            <h2 class="p-0 m-0"> Terminos y condiciones</h2>

        </div>
    </div>
   
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title"> Terminos y condiciones</h5>
            <button
            class="btn btn-success"
            data-bs-target="#modalInformacionEdicionProfesion"
            data-bs-toggle="modal">Editar</button>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">{{politicas}}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

</div>



