<!-- Titulo principal-->
<div class="header-admi1 ">
    <div class="header-text">
      <div class="containerstart">
        <p>TÉRMINOS Y CONDICIONES</p>
      </div>
    </div>
    <svg preserveAspectRatio="xMidYMid">
      <path d="M0,60 L0,0 L1290,0 L1290,60" fill="#333539"  />
      <path d="M320,60 Q448,85 550,60" fill="#333539" />
    </svg>
  </div>
  
  <div class="container-fluid">
  
      <div class="card" style="width: 100%;">
          <div class="card-body">
              <p class="card-text" *ngIf="!isEditing">{{politicas}}</p>
              <textarea
                *ngIf="isEditing"
                class="form-control form-control-pol"
                style="heiight: 100%;"
                [(ngModel)]="politicas"
              ></textarea>
            </div>
          <div class="card-f">
            <button *ngIf="!isEditing" class="custom-button float-right" (click)="enableEditMode()">Editar</button>  
            
            <button *ngIf="isEditing" class="custom-button float-right" (click)="saveChanges(politicas)">Guardar</button>
            <button *ngIf="isEditing" class="custom-button float-right" (click)="cancelEdit()">Cancelar</button>
            
          </div>
          <div class=" card-footer">
          </div>       
      </div>
  </div>


